.SearchBar{
    height: 10vh;
    display: flex;
    justify-content: center;
}

.search{
    height: 10vh;
    width: 60%;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.svg-inline--fa{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logowrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.logo{
    height: 6vh;
}
.cart{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}