*{
    border: 0;
    margin: 0;
    padding: 0;
}
.banner{
    height: 15vh;
}
.bannerImg{
    height: 100%;
    
    background-image: url(../../images/banner.gif);
    background-size: 100% 80%;
    background-repeat: no-repeat;
}