
.slider{
    height: 52vh;
    width: 100vw;
    color: #fff;
    line-height: 160px;
    text-align: center;
    background: #364d79;
   
}
.carousel{
    margin-left: 21vw;
}
.slider1{
    background-image: url(../images/slider1.png);
    background-size:69vw 52vh ;
    background-repeat: no-repeat;
    background-color:rgb(247, 221, 221);
}
.slider2{
    background-image: url(../images/slider2.jpg);
    background-size:69vw 52vh ;
    background-repeat: no-repeat;
    background-color:rgb(221, 221, 226);
    
}.slider3{
    background-image: url(../images/slider3.png);
    background-size:69vw 52vh ;
    background-repeat: no-repeat;
    background-color:rgb(247, 194, 194);
    
}.slider4{
    background-image: url(../images/slider4.jpg);
    background-size:69vw 52vh ;
    background-repeat: no-repeat;
    background-color:#2596be;    
}
.buttons{
    display: flex;
}
.button{
    flex:1;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
}
