.CollectionContainer{
    height: 90vh;
    display: flex;
    flex-flow: column;
}
.topline{
    flex: 1;
    display: flex;
    flex-flow: column;    
}
.topLineButton{
    display: flex;
    justify-content: right;
    align-items: top;
}
.CollectionWrapper{
    flex:12;
    display: grid;
    grid: auto-flow / 1fr 1fr 1fr 1fr;
    margin-left: 5vw;
    border: 2px;
}
.collection{
    display: flex;
    justify-content: center;
    align-items: center;
}