
.flashsale{
    height: 70vh;
    display: flex;
    flex-flow: column;
}
.Heading{
    flex: 1;
}
.timer{
    flex: 1;
    display: flex;
    flex-flow: row;
}

.timer h1{
    flex: 2;
}


.timer h2{
    flex: 2;
    display: flex;
    align-items: center;
}
.countdown{ 
    flex: 5;
    
    display: flex;
    justify-content: left;
    align-items: center;
}

.Shopmore{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: chocolate;
    
}
.productcards{
    flex: 5;
    display: flex;
    flex-flow: row;
}
.carddesign{
    flex: 1;
    display: flex;
    justify-content: center;
    
}